@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=IBM%20Plex%20Mono:wght@400;700&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.bio-text {
  font-size: 16px;
  animation: up 2s;
  font-weight: 500;
  color: #f1f1f1bd;
  margin-bottom: 15px;
}

.username {
  animation: up 2s;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ee4b8f, 0px 0px 3px #ee4b8f, 0px 0px 7px #ee4b8f, 0px 0px 5px #ee4b8f, 0px 0px 8px #ee4b8f, 0px 0px 8px #ee4b8f;
}


.social-icons {
  font-size: 28px;
  transition: 0.2s ease-in-out;
  padding: 0 2px;
  color: #e4e9ff;
}

.social-icons:hover {
  transform: scale(1.4);
}

.pfp-image {
  animation: down 2s;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  max-width: 150px;
  height: 150px;
}

.container {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.blur {
  background: rgba(35, 37, 36, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  -ms-backdrop-filter: blur(8px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.75);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.center,
.container,
.pfp-image,
.username,
.socials {
  animation: fadein 2s;
}

#enterButton {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Mono";
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

button:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#progressContainer {
  width: 100%;
  max-width: 400px;
  height: 8px;
  background-color: #555;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 15px;
}

#progressBar {
  width: 0;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

    
    #links {
     right: 5px;
     width: 100px;
     float: left;
     margin-top: -4px;
    }
    
    #groups {
     float: right;
     margin-top: 5px;
    }
    
    #dropDownContent div a {
     opacity: 0;
     transition: 1s;
     line-height: 18px;
    }
    
    #dropDownContent div span {
     margin-left: 10px;
     margin-right: 10px;
    }
    
    #groups a, #groups span {
     float: right;
    }
    
    .hitCount {
     position: fixed;
     bottom: 5px;
     right: 5px;
     transition: 3s;
     color: var(--color);
     font-size: 24px;
     opacity: 0;
     bottom: -3px;
    }
    
    a.hitCounter.badge-done0 {
     display: none!important;
    }


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
    

.hover-text{
    position:relative;
    display:inline-block
    font-family: "IBM Plex Mono";
}
.hover-text::after{
    content:attr(data-hover-text);
    position:absolute;
    top:-30px;
    left:50%;
    transform:translateX(-50%);
    background-color:rgba(0,0,0,.8);
    color:#fff;
    padding:5px;
    border-radius:5px;
    font-size:14px;
    opacity:0;
    transition:opacity .3s ease-in-out
    font-family: "IBM Plex Mono";
}
.hover-text.active::after,.hover-text:hover::after{
    opacity:1
}

.discord-widget {
    animation: up 2s;
    padding: 5px 5px;
    width: 65%;
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
    -moz-box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
    box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
    cursor: pointer;
    color: #a7a7a7;
    transition: transform .25s ease, color .25s ease, background-color .25s ease, border-color .25s ease;
    margin-bottom: 19px;
    font-weight: 400;
    font-family: poppins
  }

  .discord-widget:hover {
    -webkit-box-shadow: 0 0 20px 1px rgb(47 47 47/90%);
    -moz-box-shadow: 0 0 20px 1px rgb(47 47 47/90%);
    box-shadow: 0 0 20px 1px rgb(47 47 47/90%);
    transform: scale(.95)
  }

.tooltip {
	position: relative;
	display: inline-block
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -63px;
	transform: scale(0);
	transition: ease-in-out 150ms
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: scale(1)
}

