body{
    background-color:#060606;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    max-width: 100%;
    overflow-x: hidden;
    background-position:center top
}
  .fade-in-text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

