:root {
    --font-family: satoshi, system-ui, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    --background-color-1: #090B0C;
    --background-color-2: #090B0C;
    --background-color-3: #090B0C;
    --textw: #ffffff;
    --btn-bord: #7d00dc;
    --prem: #8412ff
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--background-color-1);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    user-select: none
}

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    transition: background-color .2s, height .2s
}

.hue {
    color: var(--prem);
    font-weight: 500
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin: 1rem
}

.hero-text {
    margin: 1rem;
    text-align: center
}

.hero-text-header {
    font-size: 3rem;
    font-weight: 600;
    color: var(--textw);
    text-align: center;
    margin: 5px;
    animation: fade-in-left 1s ease-in-out
}

.ong {
    font-size: 3rem;
    font-weight: 600;
    color: #9e1eff;
    text-align: center;
    margin: 0;
    animation: fade-in-left 1s ease-in-out
}

.skem {
    font-size: 3rem;
    font-weight: 600;
    color: #b6b6b680;
    text-align: center;
    margin: 0;
    animation: fade-in-left 1s ease-in-out
}

b {
    font-weight: 700
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh
}

.hero-text-description {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--textw);
    text-align: center;
    white-space: nowrap;
    margin: 5px;
    animation: fade-in-left 1.2s ease-in-out
}

.dud {
    color: #757575
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--textw);
    text-decoration: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    margin: .5rem;
    width: 100%;
    transition: all .2s ease-in-out;
    animation: fade-in-left 1.4s ease-in-out
}

.button:hover {
    transform: scale(1.05)
}

.primary {
    background-color: var(--btn-bord);
    border: 2px solid var(--btn-bord)
}

.primary:hover {
    background-color: transparent
}

.primary i {
    margin-left: .5rem
}

.counters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    animation: fade-in-left 1.6s ease-in-out
}

.counter-wrapper h3 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--textw);
    text-align: center;
    margin: 0
}

.counter-wrapper p {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--textw);
    text-align: center;
    margin: 0
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: fade-in-right 1.8s ease-in-out
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.container {
    max-width: 100%;
    position: relative;
    overflow: hidden
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover
}

.icon-text-container {
    display: flex;
    align-items: center
}

.icon-text-container img {
    margin-right: .5em
}

.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.preview-image img {
    width: 100%;
    object-fit: scale-down;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    transition: all .35s ease-in-out;
    transform: perspective(200px);
    box-shadow: 0 0 0 .25rem var(--btn-bord)
}

.preview-image img:hover {
    transform: perspective(200px) rotatex(.7deg) rotatey(-.7deg) scale(1.05);
    filter: brightness(1.1) saturate(1.1)
}

@media screen and (max-width:1300px) {
    .right-column {
        display: none
    }
    .split-screen-wrapper {
        display: flex;
        align-content: center;
        justify-content: center
    }
    .counters-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 2rem
    }
    .counter-wrapper {
        align-content: center
    }
}

.footer {
    border-top: 1px solid var(--bg-color-light);
    border-radius: 10px;
    color: var(--text-color);
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    width: 100%
}

.footer p {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text-color-1);
    text-align: center;
    margin: 0;
    padding: .5rem 1rem
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translatex(-200px)
    }
    100% {
        opacity: 1;
        transform: translatex(0)
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translatex(200px)
    }
    100% {
        opacity: 1;
        transform: translatex(0)
    }
}

.fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}

